accelerate==1.5.2
cryptography==44.0.2
diffusers==0.32.2
email-validator==2.2.0
fastapi==0.115.12
fastapi-cli==0.0.7
firebase-admin==6.7.0
google-cloud-secret-manager==2.23.2
groq==0.22.0
grpcio-status==1.49.0rc1
gym==0.26.2
httptools==0.6.4
jaraco.collections==5.1.0
langfuse==2.60.3
lxml-html-clean==0.4.2
newspaper3k==0.2.8
pip-chill==1.0.3
pip-tools==7.5.1
pipreqs==0.5.0
praw==7.8.1
pygame==2.6.1
python-binance==1.0.28
python-dotenv==1.1.0
python-multipart==0.0.20
pytrends==4.9.2
redis==5.2.1
shimmy==2.0.0
stable-baselines3==2.6.0
ta==0.11.0
tensorflow==2.18.0
tinycss2==1.4.0
torchaudio==2.6.0
torchvision==0.21.0
transformers==4.49.0
uvloop==0.21.0
watchfiles==1.0.5
yfinance==0.2.55